/* | HERO SECTION [START] */
.hero .h1 {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.hero.visible .h1 {
    transform: translateY(0);
    opacity: 1;
}
/* | HERO SECTION [END] */

/* | ABOUT-CONTENT SECTIONS [START] */
.about-content * {
    transform: translateY(50px);
    opacity: 0;
}

.about-content.visible * {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}