/* | HERO SECTION [START] */
.hero .h1 {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.hero.visible .h1 {
    transform: translateY(0);
    opacity: 1;
}
/* | HERO SECTION [END] */

/* | QUESTION SECTION [START] */
.question * {
    transform: translateY(60px);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.question.visible * {
    transform: translateY(0);
    opacity: 1;
}