/* | HERO SECTION [START] */
.hero * {
    transform: translateY(60px);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.hero.visible * {
    transform: translateY(0);
    opacity: 1;
}

.hero .h1 {transition-delay: 0ms;}
.hero .h3 {transition-delay: 100ms;}
.hero .btn {transition-delay: 200ms;}
/* | HERO SECTION [END] */

/* | REPORT SECTION [START] */
.report .form-elem,
.report .btn {
    transform: translateY(60px);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.report.visible * {
    transform: translateY(0);
    opacity: 1;
}

.report .form-elem:nth-child(1) {transition-delay: 0ms;}
.report .form-elem:nth-child(2) {transition-delay: 100ms;}
.report .form-elem:nth-child(3) {transition-delay: 200ms;}
.report .btn {transition-delay: 300ms;}
/* | REPORT SECTION [END] */