/* | HERO SECTION [START] */
.hero .h1 {transition-delay: 0ms;}
.hero .h3 {transition-delay: 200ms;}
.hero .link {transition-delay: 400ms;}

.hero {filter: blur(10px);}
.hero * {
    transform: translateY(100px);
    opacity: 0;
    transition-duration: 1s;
    pointer-events: none;
}

.hero.visible {filter: blur(0px);}
.hero.visible * {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}
/* | HERO SECTION [END] */

/* | SKILLS SECTION [START] */
.skills .intro-h1,
.skills .skill {
  opacity: 0;
}

.skills.visible .intro-h1 {
  animation: fadeInOut 2s ease-out forwards;
}

.skills.visible .skill {
  animation: fadeIn 0.5s ease-out forwards;
}

.skills.visible .skill:nth-child(1) { animation-delay: 2s; }
.skills.visible .skill:nth-child(2) { animation-delay: 2.1s; }
.skills.visible .skill:nth-child(3) { animation-delay: 2.2s; }
.skills.visible .skill:nth-child(4) { animation-delay: 2.3s; }

/* Keyframes */
@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}