/* | HERO SECTION [START] */
.hero .h1 {transition-delay: 0ms;}
.hero .h3 {transition-delay: 200ms;}
.hero .link {transition-delay: 400ms;}

.hero {filter: blur(10px);}
.hero * {
    transform: translateY(100px);
    opacity: 0;
    transition-duration: 1s;
    pointer-events: none;
}

.hero.visible {filter: blur(0px);}
.hero.visible * {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}
/* | HERO SECTION [END] */

/* | SKILLS SECTION [START] */
.skills .skill {
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.8s ease;
}

.skills.visible .skill {
    transform: translateY(0);
    opacity: 1;
}

.skills.visible .skill:nth-child(1) {transition-delay: 0ms;}
.skills.visible .skill:nth-child(2) {transition-delay: 200ms;}
.skills.visible .skill:nth-child(3) {transition-delay: 400ms;}
.skills.visible .skill:nth-child(4) {transition-delay: 600ms;}
/* | SKILLS SECTION [END] */