<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="language" content="en">
    <meta name="author" content="coderadi">
    <meta name="theme-color" content="#1C69D4">
    <meta name="robots" , content="index, follow">
    <meta name="canonical" , content="https://coderadi.in">

    <meta name="description"
        content="Coding greatness. Explore how it all started and how it's going on right now.">
    <meta name="keywords"
        content="coderadi, coderadi.in, software developer, web developer, Aditya, Adi, coder aditya, coding greatness">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>Coding The Greatness</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/coding-greatness.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations/coding-greatness.css') }}">
</head>

<body>
    {% include 'components/header.html' %}
    {% include 'components/msg.html' %}

    <main class="main column gap-100">
        <section class="hero">
            <section class="section center">
                <h1 class="h1">Coding the Greatness</h1>
                <span class="symbol">keyboard_arrow_down</span>
            </section>
        </section>

        <section class="articles" id="articles">
            <section class="section column gap-50">
                <div class="head column v-center gap-10">
                    <h1 class="h1">The performance continues</h1>
                    <p class="para">Explore a curated selection of articles offering a unique perspective of coderadi.</p>
                </div>

                <div class="body grid gap-20">
                    <a href="/coding-greatness/articles/how-adi-became-coderadi" class="link article column">
                        <div class="img-content">
                            <img src="{{ url_for('static', filename='assets/previews/how-adi-became-coderadi.png') }}" alt="Aditya clicking photo with a friend" class="img">
                        </div>

                        <div class="text-content column gap-10">
                            <h2 class="h2">How adi became coderadi</h2>
                            <p class="para">Explore a brief journey that started from the scroll and a spark.</p>
                        </div>
                    </a>
                    
                    <a href="/coding-greatness/articles/the-first-app-built" class="link article column">
                        <div class="img-content">
                            <img src="{{ url_for('static', filename='assets/previews/the-first-app-built.png') }}" alt="The first app built by coderadi" class="img">
                        </div>

                        <div class="text-content column gap-10">
                            <h2 class="h2">The first application we built</h2>
                            <p class="para">This is what I built as my first web application which is now dead.</p>
                        </div>
                    </a>
                    
                    <a href="/coding-greatness/articles/the-mission-now" class="link article column">
                        <div class="img-content">
                            <img src="{{ url_for('static', filename='assets/previews/the-mission-now.png') }}" alt="The mission of coderadi now" class="img">
                        </div>

                        <div class="text-content column gap-10">
                            <h2 class="h2">The mission now</h2>
                            <p class="para">Explore what we're currently planning to build and how it can change the world.</p>
                        </div>
                    </a>
                </div>
            </section>
        </section>
    </main>

    {% include 'components/footer.html' %}

    <script type="module" src="{{ url_for('static', filename='js/base/observer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/coding-greatness.js') }}"></script>
</body>

</html>