<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="language" content="en">
    <meta name="author" content="coderadi">
    <meta name="theme-color" content="#1C69D4">
    <meta name="robots" , content="index, follow">
    <meta name="canonical" , content="https://coderadi.in">

    <meta name="description"
        content="Explore Projects. Build from our exclusive collections or collaborate with us to create a solution wholly unique to you.">
    <meta name="keywords"
        content="coderadi, coderadi.in, software developer, web developer, Aditya, Adi, coder aditya, coding greatness">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>coderadi &bull; Coding The Greatness</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations/home.css') }}">
</head>

<body>
    {% include 'components/header.html' %}
    {% include 'components/msg.html' %}

    <main class="main column gap-100">
        <section class="hero">
            <section class="section column">
                <div class="content column gap-50">
                    <div class="text-content column gap-5">
                        <h1 class="h1">coderadi</h1>
                        <h3 class="h3 title">coding the greatness</h3>
                    </div>

                    <a href="/projects/" class="link btn fl">Explore projects</a>
                </div>
            </section>
        </section>

        <section class="skills" id="skills">
            <section class="section column gap-50">
                <h1 class="h1">Technical skills and expertise</h1>

                <div class="grid gap-40">
                    <div class="skill column gap-10">
                        <span class="symbol fl-icon">mobile_layout</span>
                        <h2 class="h2">Frontend development</h2>

                        <p class="para">I usually use HTML, CSS, and JS to design the frontend of websites and web apps, and I use Flet to design the frontend of Desktop apps.</p>
                        
                        <ul class="list res-row gap-10">
                            <li><span class="mini tag">HTML</span></li>
                            <li><span class="mini tag">CSS</span></li>
                            <li><span class="mini tag">JS</span></li>
                            <li><span class="mini tag">Flet</span></li>
                        </ul>
                    </div>
                    
                    <div class="skill column gap-10">
                        <span class="symbol fl-icon">dns</span>
                        <h2 class="h2">Backend development</h2>

                        <p class="para">Being a python enthusiast, I use Flask framework of it to develop the backend of web servers and API structures.</p>
                        
                        <ul class="list res-row gap-10">
                            <li><span class="mini tag">Flask</span></li>
                        </ul>
                    </div>

                    <div class="skill column gap-10">
                        <span class="symbol fl-icon">storage</span>
                        <h2 class="h2">Database</h2>

                        <p class="para">I'm familiar with SQL and NoSQL databases, my collection includes MySQL, PostgreSQL, and MongoDB for database management.</p>
                        
                        <ul class="list res-row gap-10">
                            <li><span class="mini tag">MySQL</span></li>
                            <li><span class="mini tag">PostgreSQL</span></li>
                            <li><span class="mini tag">MongoDB</span></li>
                        </ul>
                    </div>

                    <div class="skill column gap-10">
                        <span class="symbol fl-icon">android</span>
                        <h2 class="h2">Android development</h2>

                        <p class="para">I'm currently <i>learning</i> software development for android devices to build useful applications for every screen.</p>
                        
                        <ul class="list res-row gap-10">
                            <li><span class="mini tag">Flet</span></li>
                            <li><span class="mini tag">Flask</span></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

        <section class="contact" id="contact">
            <section class="section column gap-50 v-center">
                <h1 class="h1">Request information</h1>

                <form action="/contact/" method="post" class="form column gap-20">
                    <div class="form-elem column gap-5">
                        <label for="name">Name*</label>
                        <input required type="text" name="name" id="name" class="input" placeholder="Enter your name">
                    </div>

                    <div class="form-elem column gap-5">
                        <label for="email">Email*</label>
                        <input required type="email" name="email" id="email" class="input" placeholder="you@yourdomain.com">
                    </div>

                    <div class="form-elem column gap-5">
                        <label for="subject">Subject*</label>
                        <input required type="text" name="subject" id="subject" class="input" placeholder="Briefly tell us your enquiry purpose">
                    </div>

                    <div class="form-elem column gap-5">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" class="input" placeholder="Type your enquiry here"></textarea>
                    </div>

                    <button type="submit" class="link btn fl">Send request</button>
                </form>
            </section>
        </section>
    </main>

    {% include 'components/footer.html' %}

    <script type="module" src="{{ url_for('static', filename='js/base/observer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/home.js') }}"></script>
</body>

</html>