<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="language" content="en">
    <meta name="author" content="coderadi">
    <meta name="theme-color" content="#1C69D4">
    <meta name="robots" , content="index, follow">
    <meta name="canonical" , content="https://coderadi.in">

    <meta name="description"
        content="Explore Projects. Build from our exclusive collections or collaborate with us to create a solution wholly unique to you.">
    <meta name="keywords"
        content="coderadi, coderadi.in, software developer, web developer, Aditya, Adi, coder aditya, coding greatness">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>coderadi &bull; Projects</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations/projects.css') }}">
</head>

<body>
    {% include 'components/header.html' %}
    {% include 'components/msg.html' %}

    <main class="main column gap-100">
        <section class="hero">
            <section class="section column center gap-10">
                <h1 class="h1">Projects</h1>

                <span class="symbol">keyboard_arrow_down</span>
            </section>
        </section>

        <section class="projects">
            <section class="section grid gap-20">
                {% for project in data.project %}
                    <div class="project column">
                        <div class="image-content"></div>
                        <div class="text-content"></div>
                    </div>
                {% endfor %}
            </section>
        </section>
    </main>
    
    {% include 'components/footer.html' %}

    <script src="{{ url_for('static', filename='js/pages/projects.js') }}"></script>
</body>

</html>