<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="language" content="en">
    <meta name="author" content="coderadi">
    <meta name="theme-color" content="#1C69D4">
    <meta name="robots" , content="index, follow">
    <meta name="canonical" , content="https://coderadi.in">

    <meta name="description" content="Build a custom business website for your business to operate online.">
    <meta name="keywords"
        content="coderadi, coderadi.in, software developer, web developer, Aditya, Adi, coder aditya, coding greatness">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>Business website</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services/business-website.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations/business-website.css') }}">
</head>

<body>
    {% include 'components/header.html' %}
    {% include 'components/msg.html' %}

    <main class="main column gap-100">
        <section class="hero">
            <section class="section column center">
                <h1 class="h1">Business website</h1>
                <span class="symbol">keyboard_arrow_down</span>
            </section>
        </section>

        <section class="overview">
            <section class="section column gap-20">
                <p class="para">A business website is its online home. It shows what the company does and sells. People
                    can visit to learn, contact the business, and buy things. It's open every day, all day.</p>
            </section>
        </section>

        <section class="look">
            <section class="section column gap-50">
                <div class="head column v-center gap-10">
                    <h1 class="h1">How a business site look like</h1>
                    <p class="para">Here're some major sections a business site must have</p>
                </div>

                <div class="body grid gap-40">
                    <div class="symptom column gap-10">
                        <div class="symbol">support_agent</div>
                        <h3 class="h3">Clear contact info</h3>
                        <p class="para">How customers can easily reach you.</p>
                    </div>

                    <div class="symptom column gap-10">
                        <div class="symbol">tooltip_2</div>
                        <h3 class="h3">Explain what you do</h3>
                        <p class="para">A simple description of your services or products.</p>
                    </div>

                    <div class="symptom column gap-10">
                        <div class="symbol">call_to_action</div>
                        <h3 class="h3">Strong calls to action</h3>
                        <p class="para">Buttons like "Buy Now" or "Contact Us."</p>
                    </div>

                    <div class="symptom column gap-10">
                        <div class="symbol">mobile_layout</div>
                        <h3 class="h3">Mobile-friendly design</h3>
                        <p class="para">Works well and looks good on phones.</p>
                    </div>
                </div>
            </section>
        </section>

        <section class="build-config">
            <section class="section column gap-50">
                <div class="head column v-center gap-10">
                    <h1 class="h1">Build &amp; Configure yours</h1>
                    <p class="para">Build the blueprint of your site by selecting integrations and tools</p>
                </div>

                <div class="body column gap-40">
                    <div class="building config-group column gap-20">
                        <div class="heading column gap-10">
                            <h1 class="h1">Building</h1>
                            <hr class="divider">
                        </div>

                        <div class="selections column gap-20">
                            <h3 class="h3">Number of Pages</h3>

                            <div class="selection-group grid gap-20">
                                <div class="selection column gap-10" data-price="9999">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove</span>
                                        <h3 class="h3">Lite</h3>
                                    </div>

                                    <h3 class="h3">@ INR 9,999</h3>

                                    <ul class="no-list">
                                        <li>0 - 5 Pages</li>
                                    </ul>

                                    <input type="radio" name="config-pages" value="lite" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="14999">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">clear_all</span>
                                        <h3 class="h3">Pro</h3>
                                    </div>

                                    <h3 class="h3">@ INR 14,999</h3>

                                    <ul class="no-list">
                                        <li>5 - 10 Pages</li>
                                    </ul>

                                    <input type="radio" name="config-pages" value="pro" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="19999">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">stacks</span>
                                        <h3 class="h3">Plus</h3>
                                    </div>

                                    <h3 class="h3">@ INR 19,999</h3>

                                    <ul class="no-list">
                                        <li>10+ Pages</li>
                                    </ul>

                                    <input type="radio" name="config-pages" value="plus" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                            </div>
                        </div>

                        <div class="selections column gap-20">
                            <h3 class="h3">Animation Packs</h3>

                            <div class="selection-group grid gap-20">
                                <div class="selection column gap-10" data-price="0">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove_selection</span>
                                        <h3 class="h3">Zero</h3>
                                    </div>

                                    <h3 class="h3">@ Free</h3>

                                    <ul class="no-list">
                                        <li>Zero animation</li>
                                    </ul>

                                    <input type="radio" name="config-animation" value="zero" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="4999">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove</span>
                                        <h3 class="h3">Lite</h3>
                                    </div>

                                    <h3 class="h3">@ INR 4,999</h3>

                                    <ul class="no-list">
                                        <li>Light animation</li>
                                        <li>For sites with minimal animations</li>
                                    </ul>

                                    <input type="radio" name="config-animation" value="lite" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="9999">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">clear_all</span>
                                        <h3 class="h3">Pro</h3>
                                    </div>

                                    <h3 class="h3">@ INR 9,999</h3>

                                    <ul class="no-list">
                                        <li>Advanced animation</li>
                                        <li>For brand sites with elegant animations</li>
                                    </ul>

                                    <input type="radio" name="config-animation" value="pro" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="integrations config-group column gap-20">
                        <div class="heading column gap-10">
                            <h1 class="h1">Integrations</h1>
                            <hr class="divider">
                        </div>

                        <div class="selections column gap-20">
                            <h3 class="h3">Server</h3>

                            <div class="selection-group grid gap-20">
                                <div class="selection column gap-10" data-price="699" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove</span>
                                        <h3 class="h3">Lite</h3>
                                    </div>

                                    <h3 class="h3">@ INR 699/M</h3>

                                    <ul class="no-list">
                                        <li>512 MB RAM</li>
                                        <li>For small static sites and landing pages</li>
                                    </ul>

                                    <input type="radio" name="config-server" value="lite" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="2499" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">clear_all</span>
                                        <h3 class="h3">Pro</h3>
                                    </div>

                                    <h3 class="h3">@ INR 2,499/M</h3>

                                    <ul class="no-list">
                                        <li>2 GB RAM</li>
                                        <li>For small sites with databases</li>
                                    </ul>

                                    <input type="radio" name="config-server" value="pro" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="8499" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">stacks</span>
                                        <h3 class="h3">Pro Plus</h3>
                                    </div>

                                    <h3 class="h3">@ INR 8,499/M</h3>

                                    <ul class="no-list">
                                        <li>4 GB RAM</li>
                                        <li>For mid-sized sites</li>
                                    </ul>

                                    <input type="radio" name="config-server" value="pro-plus" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="22499" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">deployed_code</span>
                                        <h3 class="h3">Pro Max</h3>
                                    </div>

                                    <h3 class="h3">@ INR 22,499/M</h3>

                                    <ul class="no-list">
                                        <li>16 GB RAM</li>
                                        <li>For large-sized sites</li>
                                    </ul>

                                    <input type="radio" name="config-server" value="pro-max" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                            </div>
                        </div>

                        <div class="selections column gap-20">
                            <h3 class="h3">Database</h3>

                            <div class="selection-group grid gap-20">
                                <div class="selection column gap-10" data-price="0" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove_selection</span>
                                        <h3 class="h3">Zero</h3>
                                    </div>

                                    <h3 class="h3">@ Free</h3>

                                    <ul class="no-list">
                                        <li>For small sites with no data storage</li>
                                    </ul>

                                    <input type="radio" name="config-db" value="zero" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="1099" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove</span>
                                        <h3 class="h3">Lite</h3>
                                    </div>

                                    <h3 class="h3">@ INR 1,099/M</h3>

                                    <ul class="no-list">
                                        <li>256 MB RAM</li>
                                        <li>15 GB ROM</li>
                                        <li>For sites with light data storage</li>
                                    </ul>

                                    <input type="radio" name="config-db" value="lite" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="3399" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">clear_all</span>
                                        <h3 class="h3">Pro</h3>
                                    </div>

                                    <h3 class="h3">@ INR 3,399/M</h3>

                                    <ul class="no-list">
                                        <li>1 GB RAM</li>
                                        <li>50 GB ROM</li>
                                        <li>For sites with good data storage</li>
                                    </ul>

                                    <input type="radio" name="config-db" value="pro" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="8499" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">stacks</span>
                                        <h3 class="h3">Pro Plus</h3>
                                    </div>

                                    <h3 class="h3">@ INR 8,499/M</h3>

                                    <ul class="no-list">
                                        <li>4 GB RAM</li>
                                        <li>100 GB ROM</li>
                                        <li>For sites with large data storage</li>
                                    </ul>

                                    <input type="radio" name="config-db" value="pro-plus" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="14999" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">deployed_code</span>
                                        <h3 class="h3">Pro Max</h3>
                                    </div>

                                    <h3 class="h3">@ INR 14,999/M</h3>

                                    <ul class="no-list">
                                        <li>8 GB RAM</li>
                                        <li>150 GB ROM</li>
                                        <li>For sites with intense data storage</li>
                                    </ul>

                                    <input type="radio" name="config-db" value="pro-max" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                            </div>
                        </div>

                        <div class="selections column gap-20">
                            <h3 class="h3">Form submissions notification</h3>

                            <div class="selection-group grid gap-20">
                                <div class="selection column gap-10" data-price="0" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove_selection</span>
                                        <h3 class="h3">Zero</h3>
                                    </div>

                                    <h3 class="h3">@ Free</h3>

                                    <ul class="no-list">
                                        <li>For sites with no form submissions</li>
                                    </ul>

                                    <input type="radio" name="config-notify" value="zero" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="999" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove</span>
                                        <h3 class="h3">Lite</h3>
                                    </div>

                                    <h3 class="h3">@ INR 999/M</h3>

                                    <ul class="no-list">
                                        <li>50 monthly submissions</li>
                                        <li>256 MB File uploads</li>
                                        <li>For sites with light submissions</li>
                                        <li>Ideal for businesses getting 1-2 orders/day</li>
                                    </ul>

                                    <input type="radio" name="config-notify" value="lite" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="2499" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">clear_all</span>
                                        <h3 class="h3">Pro</h3>
                                    </div>

                                    <h3 class="h3">@ INR 2,999/M</h3>

                                    <ul class="no-list">
                                        <li>2,000 monthly submissions</li>
                                        <li>1 GB File uploads</li>
                                        <li>For sites with heavy submissions</li>
                                        <li>Ideal for businesses getting 50+ orders/day</li>
                                    </ul>

                                    <input type="radio" name="config-notify" value="pro" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="5999" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">stacks</span>
                                        <h3 class="h3">Pro Plus</h3>
                                    </div>

                                    <h3 class="h3">@ INR 5,999/M</h3>

                                    <ul class="no-list">
                                        <li>20,000 monthly submissions</li>
                                        <li>10 GB File uploads</li>
                                        <li>For sites with intense submissions</li>
                                        <li>Ideal for businesses getting 500+ orders/day</li>
                                    </ul>

                                    <input type="radio" name="config-notify" value="pro-plus" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="maintenance config-group column gap-20">
                        <div class="heading column gap-10">
                            <h1 class="h1">Maintenance</h1>
                            <hr class="divider">
                        </div>

                        <div class="selections column gap-20">
                            <h3 class="h3">Site maintenance</h3>

                            <div class="selection-group grid gap-20">
                                <div class="selection column gap-10" data-price="0" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove_selection</span>
                                        <h3 class="h3">Zero</h3>
                                    </div>

                                    <h3 class="h3">@ Free</h3>

                                    <ul class="no-list">
                                        <li>No site management</li>
                                        <li>For businesses managing sites on their own</li>
                                    </ul>

                                    <input type="radio" name="config-siteMaintenance" value="zero" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="1999" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove</span>
                                        <h3 class="h3">Lite</h3>
                                    </div>

                                    <div class="price">
                                        <h3 class="h3">@ 1,999/M</h3>
                                        <span class="mini">+ Integrations charges</span>
                                    </div>

                                    <ul class="no-list">
                                        <li>Site management with renewal</li>
                                        <li>Response time: &lt;48 hours</li>
                                        <li>Ideal for small sites</li>
                                    </ul>

                                    <input type="radio" name="config-siteMaintenance" value="lite" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="3999" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">clear_all</span>
                                        <h3 class="h3">Pro</h3>
                                    </div>

                                    <div class="price">
                                        <h3 class="h3">@ 3,999/M</h3>
                                        <span class="mini">+ Integrations charges</span>
                                    </div>

                                    <ul class="no-list">
                                        <li>Site management with renewal</li>
                                        <li>Response time: &lt;36 hours</li>
                                        <li>Update suggestions</li>
                                        <li>Performance report</li>
                                        <li>Ideal for mid-sized sites</li>
                                    </ul>

                                    <input type="radio" name="config-siteMaintenance" value="pro" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="5999" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">stacks</span>
                                        <h3 class="h3">Pro Plus</h3>
                                    </div>

                                    <div class="price">
                                        <h3 class="h3">@ 5,999/M</h3>
                                        <span class="mini">+ Integrations charges</span>
                                    </div>

                                    <ul class="no-list">
                                        <li>Site management with renewal</li>
                                        <li>Response time: &lt;24 hours</li>
                                        <li>Update suggestions</li>
                                        <li>Performance report</li>
                                        <li>Regular code optimization</li>
                                        <li>Ideal for large-sized sites</li>
                                    </ul>
                                    <input type="radio" name="config-siteMaintenance" value="pro-plus" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="summary">
            <section class="section flex gap-50">
                <div class="left column gap-20">
                    <h2 class="h2">Your configuration is ready</h2>

                    <div class="price column gap-5">
                        <span class="text">Total price (first month)</span>
                        <h2 class="h2" id="price-value"></h2>
                    </div>
                    
                    <div class="maintenance column gap-5">
                        <span class="text">Monthly maintenance</span>
                        <h2 class="h2" id="maintenance-value"></h2>
                    </div>

                    <div class="options column gap-5">
                        <h3 class="h3">Options for your next step</h3>

                        <a href="" class="link row gap-10">
                            <span class="symbol">support_agent</span>
                            <span class="text">Talk to project manager</span>
                        </a>

                        <a href="" class="link row gap-10">
                            <span class="symbol fl-icon">globe</span>
                            <span class="text">Talk about domain &amp; mailboxes</span>
                        </a>
                    </div>

                    <div class="download-configuration column gap-10">
                        <h3 class="h3">Download configuration</h3>

                        <div class="res-row gap-10">
                            <button class="btn icon-fl" id="download-configPDF">
                                <span class="symbol">docs</span>
                                <span class="text">PDF</span>
                            </button>
                            
                            <button class="btn icon-fl" id="download-configPNG">
                                <span class="symbol">image</span>
                                <span class="text">PNG</span>
                            </button>
                        </div>
                    </div>

                    <div class="download-invoice column gap-10">
                        <h3 class="h3">Download invoice</h3>

                        <div class="res-row gap-10">
                            <button class="btn icon-fl" id="download-invoicePDF">
                                <span class="symbol">docs</span>
                                <span class="text">PDF</span>
                            </button>
                            
                            <button class="btn icon-fl" id="download-invoicePNG">
                                <span class="symbol">image</span>
                                <span class="text">PNG</span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>

    {% include 'components/footer.html' %}

    <script type="module" src="{{ url_for('static', filename='js/base/observer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/services/business-website.js') }}"></script>
</body>

</html>