<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="language" content="en">
    <meta name="author" content="coderadi">
    <meta name="theme-color" content="#1C69D4">
    <meta name="robots" , content="index, follow">
    <meta name="canonical" , content="https://coderadi.in">

    <meta name="description" content="Build a custom business website for your business to operate online.">
    <meta name="keywords"
        content="coderadi, coderadi.in, software developer, web developer, Aditya, Adi, coder aditya, coding greatness">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>Business website</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services/business-website.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations/business-website.css') }}">
</head>

<body>
    {% include 'components/header.html' %}
    {% include 'components/msg.html' %}

    <main class="main column gap-100">
        <section class="hero">
            <section class="section column center">
                <h1 class="h1">Business website</h1>
                <span class="symbol">keyboard_arrow_down</span>
            </section>
        </section>

        <section class="overview">
            <section class="section column gap-20">
                <p class="para">A business website is its online home. It shows what the company does and sells. People
                    can visit to learn, contact the business, and buy things. It's open every day, all day.</p>
            </section>
        </section>

        <section class="look">
            <section class="section column gap-50">
                <div class="head column v-center gap-10">
                    <h1 class="h1">How a business site look like</h1>
                    <p class="para">Here're some major sections a business site must have</p>
                </div>

                <div class="body grid gap-40">
                    <div class="symptom column gap-10">
                        <div class="symbol">support_agent</div>
                        <h3 class="h3">Clear contact info</h3>
                        <p class="para">How customers can easily reach you.</p>
                    </div>

                    <div class="symptom column gap-10">
                        <div class="symbol">tooltip_2</div>
                        <h3 class="h3">Explain what you do</h3>
                        <p class="para">A simple description of your services or products.</p>
                    </div>

                    <div class="symptom column gap-10">
                        <div class="symbol">call_to_action</div>
                        <h3 class="h3">Strong calls to action</h3>
                        <p class="para">Buttons like "Buy Now" or "Contact Us."</p>
                    </div>

                    <div class="symptom column gap-10">
                        <div class="symbol">mobile_layout</div>
                        <h3 class="h3">Mobile-friendly design</h3>
                        <p class="para">Works well and looks good on phones.</p>
                    </div>
                </div>
            </section>
        </section>

        <section class="build">
            <section class="section column gap-50">
                <div class="head column v-center gap-10">
                    <h1 class="h1">Build &amp; Configure yours</h1>
                    <p class="para">Build the blueprint of your site by selecting integrations and tools</p>
                </div>

                <form action="/work/business-website" method="post" class="form column gap-40">
                    <div class="building column gap-20">
                        <div class="heading column gap-10">
                            <h1 class="h1">Building</h1>
                            <hr class="divider">
                        </div>

                        <div class="form-elem page-data column gap-10">
                            <h3 class="h3">Number of pages</h3>

                            <div class="input-group res-row gap-10">
                                <div class="input-data">
                                    <label for="0-5" class="input-text">0 - 5 @ INR 9,999</label>
                                    <input type="radio" name="pages-data" id="0-5" class="input">
                                </div>

                                <div class="input-data">
                                    <label for="5-10" class="input-text">5 - 10 @ INR 14,999</label>
                                    <input type="radio" name="pages-data" id="5-10" class="input">
                                </div>

                                <div class="input-data">
                                    <label for="10+" class="input-text">10+ @ INR 19,999</label>
                                    <input type="radio" name="pages-data" id="10+" class="input">
                                </div>
                            </div>
                        </div>

                        <div class="form-elem animation-data column gap-10">
                            <h3 class="h3">Animation packs</h3>

                            <div class="input-group res-row gap-10">
                                <div class="input-data">
                                    <label for="zero-animation" class="input-text">Zero @ Free</label>
                                    <input type="radio" name="animations-data" id="zero-animation" class="input">
                                </div>

                                <div class="input-data">
                                    <label for="lite" class="input-text">Lite @ INR 4,999</label>
                                    <input type="radio" name="animations-data" id="lite" class="input">
                                </div>

                                <div class="input-data">
                                    <label for="infinity" class="input-text">Infinity @ INR 9,999</label>
                                    <input type="radio" name="animations-data" id="infinity" class="input">
                                </div>
                            </div>

                            <span class="mini"><i>The lite animation pack includes simple animations like fadeIn, and
                                    infinity animation pack includes premium animations inspired by premium
                                    brands.</i></span>
                        </div>
                    </div>

                    <div class="integrations column gap-20">
                        <div class="heading column gap-10">
                            <h1 class="h1">Integrations</h1>
                            <hr class="divider">
                        </div>

                        <div class="form-elem server-data column gap-10">
                            <h3 class="h3">Server</h3>

                            <div class="input-group res-row gap-10">
                                <div class="input-data column gap-10">
                                    <label for="starter">Starter @ INR 699/M</label>
                                    <span class="text">- 512 MB RAM</span>

                                    <input type="radio" name="servers-data" id="starter" class="input">
                                </div>

                                <div class="input-data column gap-10">
                                    <label for="standard">Standard @ INR 2,499/M</label>
                                    <span class="text">- 2 GB RAM</span>

                                    <input type="radio" name="servers-data" id="standard" class="input">
                                </div>

                                <div class="input-data column gap-10">
                                    <label for="pro">Pro @ INR 8,499/M</label>
                                    <span class="text">- 4 GB RAM</span>

                                    <input type="radio" name="servers-data" id="pro" class="input">
                                </div>
                            </div>
                        </div>

                        <div class="form-elem storage-data column gap-10">
                            <h3 class="h3">Storage (if applicable)</h3>

                            <div class="input-group res-row gap-10">
                                <div class="input-data">
                                    <label for="zero-db">Zero DB @ Free</label>

                                    <input type="radio" name="storages-data" id="zero-db" class="input">
                                </div>

                                <div class="input-data column gap-10">
                                    <label for="basic-lite">Basic Lite @ INR 1,099/M</label>
                                    <span class="text">- 256 MB RAM</span>
                                    <span class="text">- 15 GB ROM</span>

                                    <input type="radio" name="storages-data" id="basic-lite" class="input">
                                </div>

                                <div class="input-data column gap-10">
                                    <label for="basic-pro">Basic Pro @ INR 2,399/M</label>
                                    <span class="text">- 1 GB RAM</span>
                                    <span class="text">- 15 GB ROM</span>

                                    <input type="radio" name="storages-data" id="basic-lite" class="input">
                                </div>

                                <div class="input-data column gap-10">
                                    <label for="standard-lite">Standard Lite @ INR 8,499/M</label>
                                    <span class="text">- 4 GB RAM</span>
                                    <span class="text">- 100 GB ROM</span>

                                    <input type="radio" name="storages-data" id="basic-lite" class="input">
                                </div>

                                <div class="input-data column gap-10">
                                    <label for="standard-pro">Standard Pro @ INR 14,499/M</label>
                                    <span class="text">- 8 GB RAM</span>
                                    <span class="text">- 150 GB ROM</span>

                                    <input type="radio" name="storages-data" id="basic-lite" class="input">
                                </div>
                            </div>

                            <span class="mini"><i>Static sites don't have database integrations, you should contact the
                                    developer before selecting database.</i></span>
                        </div>

                        <div class="form-elem notification-data column gap-10">
                            <h3 class="h3">Email notifications (if needed)</h3>

                            <div class="input-group res-row gap-10">
                                <div class="input-data">
                                    <label for="notification-zero">Zero @ Free</label>
                                    <input type="radio" name="notifications-data" id="notification-zero" class="input">
                                </div>

                                <div class="input-data column gap-10">
                                    <label for="notification-lite">Lite @ INR 999/M</label>
                                    <span class="text">- 50 Notifications/M</span>
                                    <span class="text">- 256 MB File uploads</span>

                                    <input type="radio" name="notifications-data" id="notification-lite" class="input">
                                </div>
                                
                                <div class="input-data column gap-10">
                                    <label for="notification-pro">Pro @ INR 3,999/M</label>
                                    <span class="text">- 2,000 Notifications/M</span>
                                    <span class="text">- 1 GB File uploads</span>

                                    <input type="radio" name="notifications-data" id="notification-pro" class="input">
                                </div>
                                
                                <div class="input-data column gap-10">
                                    <label for="notification-proplus">Pro Plus @ INR 6,999/M</label>
                                    <span class="text">- 20,000 Notifications/M</span>
                                    <span class="text">- 10 GB File uploads</span>

                                    <input type="radio" name="notifications-data" id="notification-proplus" class="input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="branding column gap-20">
                        <div class="heading column gap-10">
                            <h1 class="h1">Branding</h1>
                            <hr class="divider">
                        </div>

                        <span class="text"><i>The domain price of domain names vary from 999/Y to 3000/Y or more depending upon the type and region.</i></span>

                        <span class="text"><i>The mailbox prices may vary from 999/M TO 10,000+/M depending upon the quantity of mailboxes and region.</i></span>
                    </div>
                </form>
            </section>
        </section>
    </main>

    {% include 'components/footer.html' %}

    <script type="module" src="{{ url_for('static', filename='js/base/observer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/services/business-website.js') }}"></script>
</body>

</html>