<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="language" content="en">
    <meta name="author" content="coderadi">
    <meta name="theme-color" content="#1C69D4">
    <meta name="robots" , content="index, follow">
    <meta name="canonical" , content="https://coderadi.in">

    <meta name="description"
        content="Build a custom landing page for your product or service and start getting online enquiries.">
    <meta name="keywords"
        content="coderadi, coderadi.in, software developer, web developer, Aditya, Adi, coder aditya, coding greatness">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <title>Landing page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services/landing-page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations/landing-page.css') }}">
</head>

<body>
    {% include 'components/header.html' %}
    {% include 'components/msg.html' %}

    <main class="main column gap-100">
        <section class="hero">
            <section class="section column center">
                <h1 class="h1">Landing page</h1>
                <span class="symbol">keyboard_arrow_down</span>
            </section>
        </section>

        <section class="overview">
            <section class="section column gap-20">
                <p class="para">A landing page is a single web page with one clear goal. It is designed for a specific ad or link. Its job is to get a visitor to do one thing, like buy, sign up, or learn more.</p>
            </section>
        </section>

        <section class="look">
            <section class="section column gap-50">
                <div class="head column v-center gap-10">
                    <h1 class="h1">How a landing page look like</h1>
                    <p class="para">Here're some major sections a landing page must have</p>
                </div>

                <div class="body grid gap-40">
                    <div class="symptom column gap-10">
                        <div class="symbol fl-icon">flag</div>
                        <h3 class="h3">One Clear Goal</h3>
                        <p class="para">Built for a single action, like signing up or buying one product.</p>
                    </div>

                    <div class="symptom column gap-10">
                        <div class="symbol fl-icon">breaking_news</div>
                        <h3 class="h3">Relevant Headline</h3>
                        <p class="para">The main title must match the ad or link that brought the visitor.</p>
                    </div>

                    <div class="symptom column gap-10">
                        <div class="symbol fl-icon">center_focus_strong</div>
                        <h3 class="h3">Focused Content</h3>
                        <p class="para">Only information and images that support the single goal.</p>
                    </div>

                    <div class="symptom column gap-10">
                        <div class="symbol fl-icon">call_to_action</div>
                        <h3 class="h3">Prominent Call-to-Action</h3>
                        <p class="para">A very clear, compelling button ("Download," "Buy Now") that stands out.</p>
                    </div>
                </div>
            </section>
        </section>

        <section class="build-config">
            <section class="section column gap-50">
                <div class="head column v-center gap-10">
                    <h1 class="h1">Build &amp; Configure yours</h1>
                    <p class="para">Build the blueprint of your site by selecting integrations and tools</p>
                </div>

                <div class="body column gap-40">
                    <div class="building config-group column gap-20">
                        <div class="heading column">
                            <h1 class="h1">Building</h1>
                            <hr class="divider">
                        </div>

                        <div class="selections column gap-10">
                            <h3 class="h3">Appearance</h3>

                            <div class="selection-group grid gap-20">
                                <div class="selection column gap-10" data-price="4999">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove</span>
                                        <h3h class="h3">Lite</h3h>
                                    </div>

                                    <h3 class="h3">@ INR 4,999</h3>

                                    <ul class="no-list">
                                        <li>1-2 pages site</li>
                                        <li>Minimal animations</li>
                                        <li>Ideal for low-ticket products &amp; services</li>
                                    </ul>

                                    <input type="radio" name="config-appearance" value="lite" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                                
                                <div class="selection column gap-10" data-price="7999">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">clear_all</span>
                                        <h3h class="h3">Pro</h3h>
                                    </div>

                                    <h3 class="h3">@ INR 7,999</h3>

                                    <ul class="no-list">
                                        <li>1-2 pages site</li>
                                        <li>Advanced animations</li>
                                        <li>Ideal for high-ticked products &amp; services</li>
                                    </ul>

                                    <input type="radio" name="config-appearance" value="pro" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="integrations config-group column gap-20">
                        <div class="heading column gap-10">
                            <h1 class="h1">Integrations</h1>
                            <hr class="divider">
                        </div>

                        <div class="selections column gap-10">
                            <h3 class="h3">Server</h3>

                            <div class="selection-group grid gap-20">
                                <div class="selection column gap-10" data-price="699" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove</span>
                                        <h3 class="h3">Lite</h3>
                                    </div>

                                    <h3 class="h3">@ INR 699/M</h3>

                                    <ul class="no-list">
                                        <li>512 MB RAM</li>
                                        <li>For small static sites and landing pages</li>
                                    </ul>

                                    <input type="radio" name="config-server" value="lite" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="2499" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">clear_all</span>
                                        <h3 class="h3">Pro</h3>
                                    </div>

                                    <h3 class="h3">@ INR 2,499/M</h3>

                                    <ul class="no-list">
                                        <li>2 GB RAM</li>
                                        <li>For small sites with databases</li>
                                    </ul>

                                    <input type="radio" name="config-server" value="pro" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                            </div>
                        </div>

                        <div class="selections column gap-10">
                            <h3 class="h3">Database</h3>

                            <div class="selection-group grid gap-20">
                                <div class="selection column gap-10" data-price="0" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove_selection</span>
                                        <h3 class="h3">Zero</h3>
                                    </div>

                                    <h3 class="h3">@ Free</h3>

                                    <ul class="no-list">
                                        <li>For small sites with no data storage</li>
                                    </ul>

                                    <input type="radio" name="config-db" value="zero" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="1099" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove</span>
                                        <h3 class="h3">Lite</h3>
                                    </div>

                                    <h3 class="h3">@ INR 1,099/M</h3>

                                    <ul class="no-list">
                                        <li>256 MB RAM</li>
                                        <li>15 GB ROM</li>
                                        <li>For sites with light data storage</li>
                                    </ul>

                                    <input type="radio" name="config-db" value="lite" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="3399" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">clear_all</span>
                                        <h3 class="h3">Pro</h3>
                                    </div>

                                    <h3 class="h3">@ INR 3,399/M</h3>

                                    <ul class="no-list">
                                        <li>1 GB RAM</li>
                                        <li>50 GB ROM</li>
                                        <li>For sites with good data storage</li>
                                    </ul>

                                    <input type="radio" name="config-db" value="pro" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                            </div>
                        </div>

                        <div class="selections column gap-10">
                            <h3 class="h3">Form submissions notification</h3>

                            <div class="selection-group grid gap-20">
                                <div class="selection column gap-10" data-price="0" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove_selection</span>
                                        <h3 class="h3">Zero</h3>
                                    </div>

                                    <h3 class="h3">@ Free</h3>

                                    <ul class="no-list">
                                        <li>For sites with no form submissions</li>
                                    </ul>

                                    <input type="radio" name="config-notify" value="zero" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="999" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove</span>
                                        <h3 class="h3">Lite</h3>
                                    </div>

                                    <h3 class="h3">@ INR 999/M</h3>

                                    <ul class="no-list">
                                        <li>50 monthly submissions</li>
                                        <li>256 MB File uploads</li>
                                        <li>For sites with light submissions</li>
                                        <li>Ideal for businesses getting 1-2 orders/day</li>
                                    </ul>

                                    <input type="radio" name="config-notify" value="lite" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="2499" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">clear_all</span>
                                        <h3 class="h3">Pro</h3>
                                    </div>

                                    <h3 class="h3">@ INR 2,999/M</h3>

                                    <ul class="no-list">
                                        <li>2,000 monthly submissions</li>
                                        <li>1 GB File uploads</li>
                                        <li>For sites with heavy submissions</li>
                                        <li>Ideal for businesses getting 50+ orders/day</li>
                                    </ul>

                                    <input type="radio" name="config-notify" value="pro" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="5999" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">stacks</span>
                                        <h3 class="h3">Pro Plus</h3>
                                    </div>

                                    <h3 class="h3">@ INR 5,999/M</h3>

                                    <ul class="no-list">
                                        <li>20,000 monthly submissions</li>
                                        <li>10 GB File uploads</li>
                                        <li>For sites with intense submissions</li>
                                        <li>Ideal for businesses getting 500+ orders/day</li>
                                    </ul>

                                    <input type="radio" name="config-notify" value="pro-plus" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="maintenance config-group column gap-20">
                        <div class="heading column gap-10">
                            <h1 class="h1">Maintenance</h1>
                            <hr class="divider">
                        </div>

                        <div class="selections column gap-10">
                            <h3 class="h3">Site maintenance</h3>

                            <div class="selection-group grid gap-20">
                                <div class="selection column gap-10" data-price="0" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove_selection</span>
                                        <h3 class="h3">Zero</h3>
                                    </div>

                                    <h3 class="h3">@ Free</h3>

                                    <ul class="no-list">
                                        <li>No site management</li>
                                        <li>For businesses managing sites on their own</li>
                                    </ul>

                                    <input type="radio" name="config-siteMaintenance" value="zero" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="1999" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">remove</span>
                                        <h3 class="h3">Lite</h3>
                                    </div>

                                    <div class="price">
                                        <h3 class="h3">@ 1,499/M</h3>
                                        <span class="mini">+ Integrations charges</span>
                                    </div>

                                    <ul class="no-list">
                                        <li>Site management with renewal</li>
                                        <li>Response time: &lt;48 hours</li>
                                        <li>Ideal for small sites</li>
                                    </ul>

                                    <input type="radio" name="config-siteMaintenance" value="lite" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>

                                <div class="selection column gap-10" data-price="3999" data-repeating="true">
                                    <div class="res-row h-sb gap-10">
                                        <span class="symbol illustration">clear_all</span>
                                        <h3 class="h3">Pro</h3>
                                    </div>

                                    <div class="price">
                                        <h3 class="h3">@ 2,499/M</h3>
                                        <span class="mini">+ Integrations charges</span>
                                    </div>

                                    <ul class="no-list">
                                        <li>Site management with renewal</li>
                                        <li>Response time: &lt;36 hours</li>
                                        <li>Update suggestions</li>
                                        <li>Performance report</li>
                                        <li>Ideal for mid-sized sites</li>
                                    </ul>

                                    <input type="radio" name="config-siteMaintenance" value="pro" class="input">
                                    <span class="symbol status fl-icon">check_circle</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="summary">
            <section class="section flex gap-50">
                <div class="left column gap-20">
                    <h2 class="h2">Your configuration is ready</h2>

                    <div class="price column gap-5">
                        <span class="text">Total price (first month)</span>
                        <h2 class="h2" id="price-value"></h2>
                    </div>
                    
                    <div class="maintenance column gap-5">
                        <span class="text">Monthly maintenance</span>
                        <h2 class="h2" id="maintenance-value"></h2>
                    </div>

                    <div class="options column gap-5">
                        <h3 class="h3">Options for your next step</h3>

                        <a href="" class="link row gap-10">
                            <span class="symbol">support_agent</span>
                            <span class="text">Talk to project manager</span>
                        </a>

                        <a href="" class="link row gap-10">
                            <span class="symbol fl-icon">globe</span>
                            <span class="text">Talk about domain &amp; mailboxes</span>
                        </a>
                    </div>
                </div>
            </section>
        </section>
    </main>

    {% include 'components/footer.html' %}

    <script type="module" src="{{ url_for('static', filename='js/base/observer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/services/landing-page.js') }}"></script>
</body>

</html>