/* & CUSTOM VALUES */
@property --fill {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 0%;
}

/* | HEADER */
.header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
    z-index: 10;
}

/* | HERO SECTION [START] */
.hero {
    background-image: url('/static/assets/images/bg.png');
    background-position: center top;
    background-size: cover;
    height: 100dvh;
}
.hero .section {
    height: 100%;
    justify-content: end;
}

.hero .h1 {
    font-size: 7rem;
    text-transform: none;
}

.hero .link {width: fit-content;}
/* | HERO SECTION [END] */

/* | SKILLS SECTION [START] */
.skills .grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.skills .skill .symbol {
    background-color: var(--surface);
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
    position: relative;
}

.skills .skill .symbol::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: inherit;
    inset: -3px;
    transition: --fill 600ms ease-in-out;

    background: conic-gradient(
        var(--primary) var(--fill),
        transparent var(--fill)
    );
}

.skills .skill:hover .symbol {
    color: var(--primary);
    --fill: 100%
}

.skills .skill .tag {color: var(--text-secondary);}


/* & RESPONSIVE VERSIONS */
@media (max-width: 568px) {
    .hero .h1 {font-size: 4rem;}
}