/* | HEADER */
.header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
    z-index: 10;
}

/* | HERO SECTION [START] */
.hero {
    background-image: url('/static/assets/images/bg.png');
    object-fit: cover;
    object-position: bottom right;
    height: 100dvh;
}