/* | HEADER */
.header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
    z-index: 10;
}

/* | HERO SECTION [START] */
.hero {
    background-image: url('/static/assets/images/bg.png');
    background-position: center top;
    background-size: cover;
    height: 100dvh;
}
.hero .section {
    height: 100%;
    justify-content: end;
}

.hero .h1 {
    font-size: 7rem;
    text-transform: none;
}

.hero .link {width: fit-content;}
/* | HERO SECTION [END] */

/* | SKILLS SECTION [START] */
.skills {
    height: 100vh;
    position: relative;
}

.skills .section {height: 100vh;}

.skills .intro-h1 {
    position: absolute;
    z-index: -1;
    font-size: 10vw;
}

.skills .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.skills .grid .skill {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--surface);
}

.skills .skill .h1 {
    font-size: 4rem;
}

.skills .skill .main-symbol {
    font-size: 200px;
    background: linear-gradient(45deg, var(--primary), #DFE7FF);
    background-clip: text;
    color: transparent;
}

.skills .skill .desc {min-width: 50%;}

.skills .skill .symbol-normal {
    font-size: 32px;
    background-color: var(--background);
    border-radius: 50px;
    padding: 20px;
    vertical-align: bottom;
}
/* | SKILLS SECTION [END] */

/* & RESPONSIVE VERSIONS */
@media (max-width: 1440px) {
    .skills .grid {grid-template-columns: 1fr;}
}

@media (max-width: 568px) {
    .hero .h1 {font-size: 4rem;}

    .skills .skill .h1 {font-size: 3rem;}

    .skills .skill .main-row {
        flex-direction: column;
        align-items: start;
    }

    .skills .skill .main-symbol {margin: 0 auto;}
}