/* | HEADER */
.header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
    z-index: 10;
}

/* | HERO SECTION [START] */
.hero {
    background-image: url('/static/assets/images/bg.png');
    background-position: bottom right;
    background-size: cover;
    height: 100dvh;
}
.hero .section {
    height: 100%;
    justify-content: end;
}

.hero .h1 {
    font-size: 7rem;
    text-transform: none;
}

.hero .link {width: fit-content;}
/* | HERO SECTION [END] */

/* & RESPONSIVE VERSIONS */
@media (max-width: 568px) {
    .hero .h1 {font-size: 4rem;}
}