.footer {
    background-color: var(--surface);
    padding-top: 50px;
}

.footer .h2 {text-align: center;}
.footer .section {width: 100%;}

/* & RESPONSIVE VERSIONS */
@media (max-width: 425px) {
    .footer .navigation {flex-direction: column;}
}