.header .content {
    padding: 20px;
    max-width: 1696px;
    margin: 0 auto;
}

.header .divider {
    max-width: 1696px;
    margin: 0 auto;
}

.menu {cursor: pointer;}
.menu:hover {color: var(--text-secondary);}

.header .menu:hover .text {color: var(--text-secondary);}
.header .menu:hover .bar {background-color: var(--text-secondary);}

.header .bar {
    width: 20px;
    height: 2px;
    background-color: var(--text);
    margin: -1;
}

.nav {
    background-color: #1A1A1DA0;
    padding: 50px;
    backdrop-filter: blur(10px);
    height: 100dvh;
    width: max(40%, 300px);
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s, opacity 0.5s;
    display: none;
}

.nav .list {text-align: end;}

.nav .list li {
    transform: translateX(-100%);
    transition: transform 1s ease;
}

.nav.show {
    transform: translateX(0);
    opacity: 1;
}

.nav .list li.show {transform: translateX(0);}

@media (max-width: 568px) {
    .nav {padding: 20px;}
}