.alerts {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.alerts .alert {
    /* BASIC STYLING */
    padding: 10px 15px;
    border-radius: 8px;
    background-color: var(--surface);
    color: var(--text);
    
    /* TRANSITION STYLING */
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.6s ease-in-out;

    /* INTERACTION STYLING */
    pointer-events: none;
}

.alerts .alert.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.alerts .alert.check_circle .symbol {color: #059669;}
.alerts .alert.info .symbol {color: #0653b6;}
.alerts .alert.error .symbol {color: #92374D;}
